<%- include("partials/nav.ejs") %>
<main class="container py-4">

    <form
    class="d-flex flex-column text-center align-items-center h4 gap-3"
    action="/modificar-producto/<%= producto.id %>"
    method="POST"
    enctype="multipart/form-data"
    >
    <h3 class="text-center ">Modificar producto</h2>

    <label for="nombre">Nombre:</label>
    <input
      type="text"
      id="nombre"
      name="nombre"
      value="<%= producto.nombre %>"
      required
    />
  
    <label for="categoria">Categoría:</label>
    <input
      type="text"
      id="categoria"
      name="categoria"
      value="<%= producto.categoria %>"
      required
    />

    <label for="precio">Precio:</label>
    <input
      type="text"
      id="precio"
      name="precio"
      value="<%= producto.precio %>"
      required
    />
    <div class="d-flex flex-column justify-content-center">
      <label for="imagen">Imagen (nueva, opcional):</label>
      <input class=" d-flex w-100 justify-content-center" type="file" id="imagen" name="imagen" accept="image/*" />
    </div>
    <% if (producto.imagen) { %>
    <p class="mt-2">Imagen actual:</p>
    <img
      src="<%= producto.imagen %>"
      alt="Imagen actual"
      style="max-width: 200px; max-height: 200px"
    />
    <% } %>

    <label for="stock">Stock:</label>
    <input
      type="text"
      id="stock"
      name="stock"
      value="<%= producto.stock %>"
      required
    />

    <button type="submit" class="btn btn-primary mt-3">Guardar cambios</button>
  </form>
</main>
<%- include("partials/footer.ejs") %>
